<!-- your html code here Gabriel Amaya-->
    <div class="row d-flex justify-content-center bg-white py-5">
        <div class="col-6">
            <h2>This First Heading <span class="text-secondary">Will Catch Your Eye</span></h2>
            <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore veniam tempora modi et, earum est
                aliquid. Molestiae natus non quidem esse libero? Alias hic cum numquam! Rerum dignissimos ducimus eum?
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Qui ipsa molestiae asperiores rerum, repellat,
                maxime possimus ea quos quibusdam aspernatur aut itaque perspiciatis repellendus odio blanditiis eaque
                autem sit! Non.</p>
        </div>
        <div class="col-4 pd-5"><img class="rounded-circle" src="./assets/img/1.jpg" alt="" width="300px"></div>
    </div> 
