<!-- your html code here Gabriel Amaya-->
<div class="row d-flex justify-content-center bg-white py-5">
    <div class="col-4 ps-5">
        <img class="rounded-circle" src="./assets/img/2.jpg" width="300px"alt="" >
    </div>
    <div class="col-6">       
            <h2>
                <span class="text-secondary">The Secong Heading</span>
                Is Pretty Cool Too
            </h2>
            <p>
                Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis <br>
                euismod semper. Praesent commodo cursus magna, vel scelerisque nisl <br>
                conesectetur. Fusce dapibus, tellis ac cursus commodo.
            </p>        
    </div>
</div>